<!DOCTYPE html>
<html>
<head>
    <title>PRODUCTS</title>
</head>
<body>
    <h1>ALL PRODUCTS</h1>
    <p>Bu birinci paragraf.</p>
    <p>Bu birinci paragraf.</p>
    <p>Bu birinci paragraf.</p>
    <p>Bu birinci paragraf.</p>

</body>
</html>
