@model DatabaseImageProject.Models.Entities.Product
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div style="margin:50px 20px; font-size:25px;">
    <p>Product Id: @Model.ProductId</p>
    <p>Product Name: @Model.ProductName</p>
    <p>Product Price: @Model.ProductPrice</p>
    <p>Product Image: @Model.ProductImage</p>
</div>

<p>
    <a asp-action="Index">Product List</a>
</p>
